body {
  background-image: url(images/2.jpg);
  background-color: rgb(63, 63, 63);
  font-family: monospace;
  margin: 0;
}

header {
  background-color: rgb(63, 63, 63);
}

.fioerror {
  border: 2px solid red;
}

.emailerror {
  border: 2px solid red;
}

.yoberror {
  border: 2px solid red;
}

.n_limbserror {
  border: 2px solid red;
}

.sp-sperror {
  border: 2px solid red;
}

.bioerror {
  border: 2px solid red;
}

.Galochkaerror {
  border: 2px solid red;
}

.banner {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 25px;
}

li {
  display: flex;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  border-radius: 25px;
}

#logo {
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 25px;
}

.forma {
  background-color: rgb(63, 63, 63);
  margin: 0 auto;
  margin-top: 20px;
  padding: 10px;
  border-radius: 25px;
}

footer {
  width: 100%;
  background-color: rgb(63, 63, 63);
  padding: 10px;
  margin-top: 20px;
  height: 40px;
  position: fixed;
  bottom: 0px;
  border-radius: 25px;
}

.logstyle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
}
